# YME: Introduction to Python Workshop
![title](images/python-logo.png)

### __Python is a dynamic, interpreted (bytecode-compiled) language.__ In Python, there are no type declarations of variables, parameters, functions, or methods in source code. This makes the code short and flexible, and you lose the compile-time type checking of the source code. Python tracks the types of all values at runtime and flags code that does not make sense as it runs.

<!-- <img src="images/python-advantages-disadvantages.png" style="width: 200px;"/> -->

### <u>Advantages</u>
#### __1. Easy to Read, Learn and Write 📖__
> Python is a high-level programming language that has English-like syntax. This makes it easier to read and understand the code. Python is really easy to pick up and learn, that is why a lot of people recommend Python to beginners. You need less lines of code to perform the same task as compared to other major languages like C/C++ and Java.

#### __2. Improved Productivity 📈__
> Python is a very productive language. Due to the simplicity of Python, developers can focus on solving the problem.
They don’t need to spend too much time in understanding the syntax or behaviour of the programming language. You write less code and get more things done.

#### __3. Interpreted Programming Language 🖥__
> Python is an interpreted language which means that Python directly executes the code line by line. In case of any error, it stops further execution and reports back the error which has occurred.

#### __4. Extensive Library Support 📚__
> The standard library of Python is huge, you can find almost all the functions needed for your task. Python also has support to  There are readily available tools to deal with most complicated problems in today's world, especially for data science and machine learning. (e.g.: NumPy, Pandas, Scikit-Learn)

#### __5. Dynamically Typed 💫__
> Python doesn’t know the type of variable until we run the code. It automatically assigns the data type during execution. The programmer doesn’t need to worry about declaring variables and their data types.

### <u>Disadvantages</u>
#### __1. Slow Speed 🐢__
> Since Python is an interpreted language and dynamically-typed language, the line by line execution of code often leads to slow execution. The dynamic nature of Python is also responsible for the slow speed of Python because it has to do the extra work while executing code. So, Python is not used for purposes where speed is an important aspect of the project.

#### __2. Not Memory Efficient 💿__
> To provide simplicity to the developer, Python has to do a little tradeoff. The Python programming language uses a large amount of memory. This can be a disadvantage while building applications when we prefer memory optimization.

In [1]:
%%html
<style>
table {float:left}
</style>

---
# Quick Reference
### Google Collaboratory Start-up
> go to the link: www.google.com <br>

### Jupyter Notebook Start-up
> to run Jupyter notebook, type in terminal: <br>
    `jupyter notebook` <br>
> alternatively, you may want to run Jupyter lab which is an extensive development environment of Jupyter: <br>
    `jupyter lab`

### Jupyter Notebook Shortcuts
*With the cell selected,* <br>
`a` : insert a new cell above <br>
`b` : insert a new cell below <br>
`m` : change the current cell to Markdown <br>
`y` : change the current cell to code <br>
`Enter` : go back to edit mode <br>
`Shift + Enter` : execute the cell and then move to the next cell <br>
`?` : help <br>

### Python Programming Quick Reference
`Shift + /` : keyboard shortcut to comment highlighted code <br>
`#` : comment a single line of code <br>
`""" """` : comment multiple lines of code <br>
`print(variable)` : prints the variable into output console <br>
`type(variable)` : determines the data type of the variable <br>
`len(variable)` : determines the length of the variable <br>
`function()` : calls the function <br>
`variable.method()` : calls and applies the method onto variable <br>

---
# Table of Contents

In this workshop, we will briefly cover the key elements that make Python stands out among the other programming languages and also cover the basis of its core data structures.

1. **Data Types and Variables**
2. **Expressions and Operators**
3. **Statements and Loops** 
    - if, elif, else
    - for
    - while

<!-- #### <li> [Introduction to Python](#intro)</li>
#### <li> [Variables and Data Types](#data)</li>
#### <li> [Lists](#lists)</li>
#### <li> [Conditional Statements](#conditional)</li>
#### <li> [For Loops](#for)</li>
#### <li> [Dictionaries](#dict)</li>
#### <li> [While Loops](#while)</li>
#### <li> [Functions](#function)</li>
#### <li> [Exercises](#exercise)</li>
#### <li> [Classes](#classes)</li> -->

---
# <a class="anchor" name="var"></a> Chapter 1: Variables and Data Types

#### Variables are "black boxes" used to store values. When a variable is created, Python reserves some space in memory to store the values. The Python interpreter automatically allocate memory and decides what can be stored in the reserved memory. Hence, Python can dynamically and automatically assign values of any data type to variables without needing to explicitly declare their data types (like in Java). The most common data types are:
> - **Strings** - A "string" of characters
> - **Integers** - Whole numbers
> - **Floating-point values** - Decimal numbers
> - **Boolean** - Binary logic (True / False)

`PYTHON CODE`
```python
my_string = 'Hello World!'
my_integer = 100
my_float = 10.5
my_boolean = True 
print(my_string, my_integer, my_float, my_boolean)
```

`OUTPUT`
```
Hello World! 100 10.5 True
```

---
## 1.1 Commenting
`Comment Syntax in Python`
```python
 # SINGLE HASHTAG for single-line comments 
 """ 
 TRIPLE QUOTATION MARKS for multi-line comments
 """
```
`EXAMPLE`
```python
a = 5 # setting variable a to value 5
"""
This piece of code assigns the variable a to value 5
Commenting is a good programming practice to help developers understand your code!
"""
```

---
## 1.2 Variable Declaring
##### __In this example, we will declare 4 different variables of different data types! We can use the type() function to verify each variable's data type!__

In [2]:
a = 5  # the variable a is assigned the value 5
type(a)  # the type() function displays the variable type of the argument in the brackets

int

In [3]:
# python automatically guesses the variable type of your input, can you google what this variable type stands for?
b = 0.299
type(b)

float

In [4]:
c = 'Hello World!'
type(c)

str

In [5]:
d = False
type(d)

bool

---
## 1.3 Strings

In [6]:
single_quotes = 'I can declare strings using single quotes!'
double_quotes = "I can declare strings using double quotes!"
wrap_single_quotes = "I can write special characters like '' inside double quotes!"

print(single_quotes)
print(double_quotes)
print(wrap_single_quotes)

I can declare strings using single quotes!
I can declare strings using double quotes!
I can write special characters like '' inside double quotes!

---
## 1.4 Printing
In order to print out the value of a variable or a calculation, you can use the function print()
##### __Simple Printing__

In [7]:
print(a) # don't forget the brackets ()!
print(b)
print(a, b) # the ',' separator provides a space between variables when printing
print('My numbers are', a, 'and', b) # You can combine more strings and variables with ','

5
0.299
5 0.299
My numbers are 5 and 0.299

##### __Format Printing__

In [8]:
# Declare variables of different data types
my_name = 'Ken'
my_number = 27

# Format printing
print('My name is {} and my favourite number is {}'.format(my_name, my_number))

# f-string printing (Python 3.6 and above only)
print(f'My name is {my_name} and my favourite number is {my_number}')

My name is Ken and my favourite number is 27
My name is Ken and my favourite number is 27

##### __Printing new spaces and lines__

In [9]:
# Using \t and \n to create a new space and line respectively
print('This is a string \t with a space and \n a new line.')

This is a string 	 with a space and
 a new line.

In [10]:
# Combining everything we've learned
print(f'My name is {my_name}\n and my favourite number is, wait for it... \t {my_number}!')

My name is Ken
 and my favourite number is, wait for it... 	 27!

---
## 1.5 Mathematical Operations

##### __Python Syntax for Mathematical Operations__
| Operation | Description |       
| :--: |:------------- |
|`x + y`| sum of x and y | 
| `x - y` | difference of x and y |
|`x * y`| product of x and y | 
| `x / y` | quotient of x and y |
|`x // y`| floored quotient of x and y | 
| `x % y` | remainder of x / y (modulo) |
|`x ** y`| x to the power of y |

In [11]:
# Assign variable x to the value 10
x = 10

# Perform the following mathematical operations and print the results
print(x + 2)
print(x - 2)
print(x * 2)
print(x / 2)
print(x // 3)
print(x % 2)
print(x ** 2)

12
8
20
5.0
3
0
100

---
## 1.6 Multi-variable Operations
##### It is possible to add multiple variables of different data types in Python. The resulting type is chosen automomatically. This is called broadcasting

In [12]:
type1 = 'str'   # string
type2 = 4       # int
type3 = 4.5     # float
type4 = True    # bool (logic value True / False)

print(type2 + type3)
print(type3 + type4)
# print(type1 + type2)

8.5
5.5

**Some types cannot be added together as you can see above! Error messages are a useful feature that allow you to find bugs in your code. Also notice that when adding a float and an int, the result is chosen to be a float. This is called upcasting.**

---
## 1.7 Strings Revisited
##### __There is an arithmetic associated to the string data type, see how a string behaves under the following operands:__

In [13]:
hello = "Hello"
space = " "
world = "World!"
print(hello + space + world)
print((hello + space)*2 + world)

Hello World!
Hello Hello World!

##### _Notice that the sign "+" concatenates strings, but adds numbers when applied to `int`s or `float`s. An operator with different operations for different types is called an "overloaded operator"._

---
## 1.8 Data Type Conversion
##### __It is possible to manually change the data type of a variable, for example strings to integers or floating-point numbers.__

In [14]:
# Declare the string s
s = "123"

# Convert String to Integer
si = int(s) # string s converted to an integer
print(si)

# Convert String to Float
sf = float(s) # string s converted to a floating point number
print(sf)

123
123.0

##### __... or vice-versa:__

In [15]:
# Declare the integer d
d = 123

# Convert Integer to String
ds = str(d)
print('this is a string:', ds, type(ds))

this is a string: 123 <class 'str'>

##### __Finally, strings can be split into lists!__

In [16]:
s = "123"
print(len(s))   # How long is this string?
list(s)

3

['1', '2', '3']

___
## Your Turn!

#### Task 1: Write a code to print the sum of the variables `a` and `b`

In [17]:
# CODE HERE

#### Task 2: Python can also work as a very powerful calculator, what is 99 to the power of 99? (use Python mathematical operations)

In [18]:
# CODE HERE

#### Task 3: Create a new variable and print out its type

In [19]:
# CODE HERE

#### Task 4: Create a new string variable "2019", convert it to an integer, and add the result to the float number number = 5.7

In [20]:
# CODE HERE

---
# <a class="anchor" name="lists"></a>Chapter 2: Lists
#### List is a collection consisting of mutable sequences of elements (e.g.: once created, the separate elements can be changed). Lists are ordered, changeable and allow duplicate members.
<div>
<img src="images/list_example.png" width="600px" align = "left"/>
</div>

`PYTHON CODE`
```python
colors = ['red', 'blue', 'green']
print colors[0]    ## red
print colors[2]    ## green
print len(colors)  ## 3
```

---
## 2.1 List Manipulation
#### __Creating a list__
`PYTHON CODE`
```python
# Use square brackets to create your list
a = [element1, element2, element3]
```

In [21]:
my_list = ['red', 'blue', 'green']
print(my_list)

['red', 'blue', 'green']

The elements in a list do not need to be all of the same type.

In [22]:
good_list = ['Data Science', 485, True, 0.001]
print(good_list)

['Data Science', 485, True, 0.001]

---
#### __Adding a new element to the list__
`PYTHON CODE`
```python
# Use the append method to add a new element at the end of the list
my_list.append(element)
```

In [23]:
my_list.append('orange')
print(my_list)

['red', 'blue', 'green', 'orange']

`PYTHON CODE`
```python
# You can also use the insert method to add your element at a specific index
my_list.insert(index, element)
```

In [24]:
my_list.insert(2, 'purple')
print(my_list)

['red', 'blue', 'purple', 'green', 'orange']

---
#### __Removing an element from the list__
`PYTHON CODE`
```python
# Use the remove method to remove the specified element
my_list.remove(element) 
# Or use the pop method to remove an element from the end of the list
my_list.pop()
```

In [25]:
my_list.remove('orange')
my_list.remove('purple')
print(my_list)

['red', 'blue', 'green']

---
#### __Lists operations__
Lists can be added together! The code below appends list b to list a!

In [26]:
a = [1, 2, 3]
b = [2, 5]
c = a + b        # Lists can be added together, this appends list b to list a!
print(c)

[1, 2, 3, 2, 5]

Try if lists can be subtracted or multiplied!

In [27]:
# CODE HERE
a = [1, 2, 3]
b = [2, 5]
# Hint: c = a ? b
# print(c)

---
#### __List statistics__
Below you can see some handy functions that can be perfomed on a list:

In [28]:
lst = [1, 2, 3]
print(len(lst)) # Prints the length of the list
print(sum(lst)) # Prints the total sum of elements of the list

3
6

---
#### __Sorting a list__
`PYTHON CODE`
```python
# Use the sort method to sort the list
lst.sort()

# Use the reverse() method to reverse the list
lst.reverse()
```
> __Note:__ _sort() and reverse() methods are void methods (it does not return any value) but rather applies their effect on the list._

In [29]:
lst = [5, 3, 8, 1]
lst.sort()
print(lst)
lst.reverse()
print(lst)

[1, 3, 5, 8]
[8, 5, 3, 1]

---
#### __Create a list of unique elements__
The set() function for lists which returns all the unique elements in a list:

In [30]:
sample_list = [1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4]
print(set(sample_list)) # set() method outputs only a list of unique elements

# Also works for strings as python treats strings as a list of characters!
sample_string = "Hello World!"
print(set(sample_string))

# Note that the outputs of set are not sorted and it also included the empty space ' ' as a unique character

{1, 2, 3, 4}
{'l', 'e', ' ', '!', 'r', 'o', 'H', 'W', 'd'}

How many elements does the list `[[0,1,2,3,4,5,6]]` have? Use the `len()` function to see if you were right.

In [31]:
# CODE HERE

---
#### __Range function__
`range()` is a particularly useful iterator that can be converted into a list:

In [32]:
r = range(10)
print(r)

range(0, 10)

In the future you will see that the result of the `range()` function behaves just like a list would when combined with certain functions or in loops. If you want the result to really be a list, make sure to convert it!

In [33]:
r = list(r)    
print(r)
print(len(r), sum(r))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
10 45

The `range()` function can have a specified start, end and step size. The syntax is: range(first element, last element, step size)

If step size is not specified, the default value is one.

In [34]:
print(list(range(1,10,2)))
print(list(range(1,10)))
print(list(range(10,1,-1)))

[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2]

### Exercise: 
Create a list of all the multiples of three between 1000 and 2500:

In [35]:
# CODE HERE

### Quick Recap!
<div>
<img src="images/list_operations.png" width="600px" align = "middle"/>
</div>

---
## 2.2 Accessing elements in a list
- #### Elements in a list can be accessed separately, each element has an associated index starting from 0.
- #### Most programming languages including Python use zero-based indexing meaning the first element of the list is associated with index 0 first and so on. 
<div>
<img src="images/list_indexing.png" width="1000px" align = "middle"/>
</div>

---
#### __Accessing elements in a list__

In [36]:
lst = [1, 2, 3] # Instantiate list containing integers 1, 2 and 3
print(lst[0])     # Accessing the first element by index 0, not 1! PYTHON uses zero-based indexing!
print(lst[2])     # Accessing the third element of the list
print(lst[-1])    # Accessing the last element of the list
lst[0] = 5        # Overwriting the first element with value 5
print(lst)        # Printing out the modified list

1
3
3
[5, 2, 3]

Write a code to access the 10th element of the list `a`:

In [37]:
# CODE HERE

Can you use your python knowledge of lists and strings to find the 10th character in the sentence below?

`s = "This is a string with an exciting 10th character!"`

In [38]:
# CODE HERE

You have already seen how to access a single element in a list:

In [39]:
a = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5, 9]
print(a[0])
print(a[1])
print(a[-1])

3
1
9

---
#### __Accessing multiple elements (sublists) from a list__
In python, you can also access "sublists" of lists, the syntax is: list[ start : end : step ]

In [40]:
#print(a[0],a[1],a[2])
print(a[0:2])   # first two elements
print(a[:2])    # from the start to element two
print(a[7:])    # from element seven to the end
print(a[-2:])   
print(a[::2])   # every second element from the start to the end

[3, 1]
[3, 1]
[6, 5, 3, 5, 9]
[5, 9]
[3, 4, 5, 2, 5, 5]

Create a list containing 11 elements, print out the following sublists:
    - All elements between the 2nd and 5th element
    - Every second element of the list
    - Print out the whole list backwards
    - Exchange the order of the 4th and 5th element and the 8th and 9th element.

In [41]:
# CODE HERE

Lists can also contain more lists, exciting! Let's append a list at the end of a list:

In [42]:
good_list.append(['another', 'list'])
print(good_list)
print(good_list[-1][0]) # picks the first element of the last element of good_list

['Data Science', 485, True, 0.001, ['another', 'list']]
another

---
## 2.3 Boolean Operations

In Python it is often necessary to write down conditions which result in a boolean value (either `False` or `True`). It is important to learn how to evaluate such conditions using basic logic. Let's look at some logic operations first:

##### __Python Syntax for Boolean Operations__
| Operation | Description |       
| :--: |:------------- |
|`x or y`| if x is false, then y, else x | 
| `x and y` | if x is false, then x, else y |
|`not x`| f x is false, then `True`, else `False` |

In [43]:
#or operator
print(True or False)
print(False or False)
print(True or True)

#and operator
print(False and False)
print(True and True)
print(True and False)

#not operator
print(not False)
print(not True)

True
False
True
False
True
False
True
False

#### This can be summarised into this table

![alt text](https://upload.wikimedia.org/wikipedia/commons/4/4a/Truth_table_for_AND%2C_OR%2C_and_NOT.png)

These logical operations can be incorporated in terms of mathematical operations, let's define a few variables:

In [44]:
a = 5 # an integer
b = 6 # another integer
c = [0,1,2,3,4,5] # a list

---
## 2.4 Comparison Operations
Now we can test a few logic operations on these variables, look at the cell below and try to guess the output! Write your guesses down before running the cell!

##### __Python Syntax for Comparisons Operations__
| Operation | Description |       
| :--: |:------------- |
|`<`| strictly less than | 
|`<=`| less than or equal | 
|`>`| strictly greater than | 
|`>=`| greater than or equal | 
|`==`| equal | 
|`!=`| not equal |

In [45]:
print(a == b) # a equal to b
print(a+a == b) # 2a equal to b
print(a != b) # a not equal to b
print(a > b) # a greater than b
print(a < b) # a lesser than b
print(a <= b) # a lesser or equal to b

False
False
True
False
True
True

There are a few more intuitive operations that will come handy later on:

##### __Python Syntax for More Comparisons Operations__
| Operation | Description |       
| :--: |:------------- |
|`in`| object within | 
|`not in`| negated object within | 
|`is`| object identity | 
|`is not`| negated object identity |

In [46]:
print(a in c) #if a is in c?
print(b in c) #if b is in c?
print(a not in c) #if a is not in c?
print(b not in c) #if b is not in c?
print(a and b in c) #if both a and b is in c?
print(a or b in c) #if either a or b is in c?

print(2 is '2') #if integer 2 is string 2?
print("2" is '2') #double quote and single quotes are equivalent?
print(2 is not '2') #if integer 2 is not string 2?

True
False
False
True
False
5
False
True
True

Make sure you understand each of the above results, if you don't, ask one of the demonstrators.

---
# <a class="anchor" name="conditional"></a> Chapter 3: Conditional Statements
Conditional statements are useful when we want to run some parts of the code only if some conditions are fulfilled. 
If the `[Condition]` in the if statement has the value True, the `[Code]` will be executed, otherwise it will not.


`if statement syntax`
```python
if condition: # If condition is True
    code # then run this block of code
```

`if, elif, else statement syntax`
```python
if condition 1:   # If condition 1 is True, run code 1
    code 1 
elif condition 2: # If condition 1 is False but condition 2 is True, run code 2
    code 2
else:             # If condition 1 and 2 are False, run code 3
    code 3
```

`NOTE: In Python, every conditional statement must follow with a colon ':' and the code block within must be INDENTED!`

In [47]:
# Lets start with a few simple conditional statements
if True:
    print("The condition after \"if\" is true!")

The condition after "if" is true!

In [48]:
if False:
    print("The condition after \"if\" is false :( !")

In [49]:
# It is possible to include a number of conditions! If neither is true, then the code in else will run.
a = 5
if a == 2:
    print("a is equal to two!")
elif a == 3 or a == 4:
    print("a is equal to three or four?")
else:
    print("a is not equal to either two, three or four!")

a is not equal to either two, three or four!

---
## Your Turn!
### Task 1: Check Length of String

Write a code that takes a list with n elements on its input, and returns the string `"Too long"` if the n > 10, `"Too short"` if n < 10, and `"Ideal"` if n = 10.

In [50]:
# Your Code

---
# <a class="anchor" name="for"></a>Chapter 4: For Loops

Loops are one of the most important structures you will learn today, they allow cerain parts of the code to be executed multiple times. In Python the `for` loop is used extensively. 

`FOR LOOP SYNTAX`
```python
list_of_elements = [element1, element2, element3]
for variable in list_of_elements:
    # Iteration 1: variable = element1 
    # Iteration 2: variable = element2
    # Iteration 3: variable = element3
```

`EXAMPLE PYTHON CODE`
```python
items_list = ['apples', 'oranges', 'bananas']
for item in items_list: 
    print(item)
```
`OUTPUT`
```
apples
oranges
bananas
```

---
## 4.1 Lists in For Loops

In [51]:
# One by one, each element of the list is assigned to the variable, i, then the code inside the For Loop is executed
namelist = ['John', 'Amy', 'Kate']
for name in namelist:
    print(name)

John
Amy
Kate

In [52]:
# You can use lists containing elements of different datatypes as well!
fancy_list = [4, 1.27, 'my_string', True]
for item in fancy_list: 
    print(item)

4
1.27
my_string
True

In [53]:
# You can also iterate each character of a string
for i in "abc":   
    print(i)
# This is because python treats a string as an array of characters ie. ['a','b','c']

a
b
c

In [54]:
# sometimes it is useful to have two nested for loops, keep in mind the more nested loops the slower the code!
for i in [1,2,3]:
    for j in range(2):
        print(i, j)

1 0
1 1
2 0
2 1
3 0
3 1

---
## 4.2 Range function
```tex 
The range() function generates the integer numbers between the given start integer to the stop integer, which is generally used to iterate over with for loop. 
```
`PYTHON CODE`
```python
range(start, stop, step)
my_range = range(1, 10, 2)
print(list(my_range))
```

`OUTPUT` 
`[1, 3, 5, 7, 9]`

In [55]:
# The range() function outputs an object with a list of numbers that follow zero-based indexing!
my_range = range(5) # Generates an object with a list of numbers from 0 to 4
print(list(my_range)) # You have to convert it into a list to print the list of numbers

[0, 1, 2, 3, 4]

#### __range() in For Loops__

In [56]:
# In a for loop, generate integers 1 fo 10
print('List of numbers:')
for i in range(1, 11):
    print(i, end = ' ')

# In a for loop, generate odd numbers from 1 to 10
print('\nList of odd numbers:')
for i in range(1, 11, 2): 
    print(i, end = ' ')
    
# In a for loop, generate integers 1 to 10 in descending order
print('\nList of numbers in descending order:')
for i in range(10, 0, -1):
    print(i, end = ' ')

List of numbers:
1 2 3 4 5 6 7 8 9 10
List of odd numbers:
1 3 5 7 9
List of numbers in descending order:
10 9 8 7 6 5 4 3 2 1

`range() explanation`
```tex
range() function returns an object that produces a sequence of integers from start (inclusive) to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1. Start defaults to 0, and stop is omitted! For example, range(4) produces 0, 1, 2, 3. These are exactly the valid indices for a list of 4 elements. When step is given, it specifies the increment (or decrement).
```

#### __Looping through elements of a list__

In [57]:
# Not so pythonic way to print all elements of a list
lst = [3, 5, 7, 9]
for i in range(len(lst)): 
    print(lst[i])

3
5
7
9

In [58]:
# Pythonic way
lst = [3, 5, 7, 9]
for index, value in enumerate(lst): 
    print('Index:', index, 'Value:', value)

Index: 0 Value: 3
Index: 1 Value: 5
Index: 2 Value: 7
Index: 3 Value: 9

In [59]:
lst1 = [2, 4, 6, 8]
lst2 = [3, 5, 7, 9]
targetvalue = 17

for value1 in lst1: 
    for value2 in lst2: 
        if value1 + value2 == targetvalue:
            print(value1, '+', value2, '=', targetvalue)

8 + 9 = 17

---
## 4.3 Enumerate function
Enumerate is also a handy function that is used in conjunction with for loops. Enumerates indexes all the items in a list, as shown below

In [60]:
# Prints out all the items in the list with their corresponding index
animals = ['cat', 'dog', 'mouse']
for item in enumerate(animals):
    print(item)

(0, 'cat')
(1, 'dog')
(2, 'mouse')

In [61]:
# It is also possible to extract the indexes and elements in the lsit individually
for index, animal in enumerate(animals):
    print(index, animal)

0 cat
1 dog
2 mouse

```tex
Note: The enumerate object and reversed object you've seen before are special data structures that allow you to iterate through them ie. using a for loop. You don't need to know too much about these now but keep in mind you can loop through more than just lists!
```

---
## 4.4 Zip function
The zip() function can be used to simultaneously go through elements of multiple lists (must be the same length) in a For Loop.

In [62]:
# You can use the zip() function to simultaneously go through multiple lists of the same length in a For Loop
list1 = ['Ken', 'Biology', 99]
list2 = ['Ian', 'Chemistry', 85]
list3 = ['Michael', 'Physics', 65]
  
# Here zip() function takes two equal length list and merges them together in pairs 
for a, b, c in zip(list1,list2, list3): 
    print (a, b, c)

Ken Ian Michael
Biology Chemistry Physics
99 85 65

---
## 4.5 List Comprehension (Advanced)

```tex
A list comprehension is a compact way to write an expression that expands to a whole list. 
```

`If you encounter an expression such as this:`

```python
for variable in list:
    code
```
        
`It can be briefly written in python as:`

```python 
[ code for variable in list ]
```

`For example:`

```python
numbers = [1, 2, 3, 4]
for number in numbers:
    squares = number * number

# Same as:
squares = [number * number for number in numbers]
```

In [63]:
conversation = ['hello', 'and', 'goodbye']
shouting = [ word.upper() for word in conversation]
print(shouting)

['HELLO', 'AND', 'GOODBYE']

In [64]:
# Print list of square numbers from 0 to 9
squares = [ x**2 for x in range(10) ]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

---
`If you encounter an expression such as this:`

```python
for variable in list:
    if condition: 
        code
```
        
`It can be briefly written in python as:`

```python 
[ code for variable in list if condition ]
```

In [65]:
## Select values <= 2
nums = [2, 8, 1, 6]
small = [ n for n in nums if n <= 2 ]
print(small)

[2, 1]

In [66]:
## Select fruits containing 'a', change to upper case
fruits = ['apple', 'cherry', 'banana', 'lemon']
afruits = [ s.upper() for s in fruits if 'a' in s ]
print(afruits)

['APPLE', 'BANANA']

---
## Your Turn!

### Task 1: Fibonacci Sequence
Calculate the hundredth element of the Fibonacci sequence. $F_0=0$, $F_1 = 1$, $F_{i+2} = F_{i+1} + F_{i}$.

In [67]:
# # CODE HERE
# F_i = 0
# F_i1 = 1
# F_i2 = ????
# for i in range(0,98):
#     F_i2 = ????
#     F_i1 = ????
#     F_i = ????

### Task 2: Replacing Numbers with List Comprehension
Create a list comprehension that replaces every number <50 with True and >50 with False:

In [68]:
# CODE HERE

---
# <a class="anchor" name="dict"></a> Chapter 5: Dictionaries

- #### Dictionaries are efficient hash table data structures that stores data in __*key : value*__ pairs. 
- #### In dictionaries, each value is associated with a unique key and allows quick retrieval of the desired value using its corresponding key.
- #### This is useful when you want to assign a value to a unique key or identifier. All keys must be unique for a dictionary.  
- #### Dictionaries can be created using {} and the __*key : value*__ pair structure are as shown below:-
<div>
<img src="images/dict-diagram.png" width="500px" align = "middle"/>
</div>

---
## 5.1 Creating a dictionary
`PYTHON CODE`
```python

# A dictionary (dict) can be created by starting with an empty dict {} and then storing key : value pairs into the dict like this:
# dict[key] = value-for-that-key
grades = {}
grades['Joel'] = 80
grades['Tim'] = 85
grades['Kate'] = 90

# Or you can do all at once like this:
grades = {'Joel': 80, 'Tim': 85, 'Kate': 90}
print(grades)
```
`OUTPUT`
`{'Joel': 80, 'Tim': 85, 'Kate': 90}`

---
## 5.2 Accessing a dictionary
`PYTHON CODE`
```python
# Retrieve the value associated with the key provided
joels_grade = grades['Joel']
joels_grade = grades.get('Joel')
```
`OUTPUT: 80` 

`PYTHON CODE`
```python
# keys() method retrieves all the keys in the dictionary
all_keys = grades.keys()
# values() method retrieves all the values in the dictionary
all_values = grades.values()
# items() method retrieves all key : value pairs in the dictionary
all_items = grades.items()

print(list(all_keys))
print(list(all_values))
print(list(all_items))
```
`OUTPUT:`
`
['Joel', 'Tim', 'Kate']
[80, 85, 90]
[('Joel', 80), ('Tim', 85), ('Kate', 90)]
`

---
## 5.3 Adding and removing entries in a dictionary
`PYTHON CODE`
```python
# Adding a new entry is as easy as declaring a new unique key:value pair
grades['Bob'] = 95
print(grades)
```
`OUTPUT:`
`{'Joel': 80, 'Tim': 85, 'Kate': 90, 'Bob': 95}`

`PYTHON CODE`
```python
# del dict[key] removes the key : value pair 
del(grades['Bob'])
print(grades)
```
`OUTPUT:`
`{'Joel': 80, 'Tim': 85, 'Kate': 90}`

---
## 5.4 Checking the existence of a key : value pair
`PYTHON CODE`
```python
# You can check for the existence of a key using in:
joel_has_grade = "Joel" in grades # Output: True
amy_has_grade = "Amy" in grades # Output: False

if 'Tim' in grades: 
    print(grades['Tim']) # Output: 85
```
---
## Quick Recap!
<div>
<img src="images/dict_operations.png" width="300px" align = "middle"/>
</div>

---

#### __Creating a dictionary__

In [69]:
grades = {'Joel': 80, 'Tim': 85, 'Kate': 90}

all_keys = grades.keys()
all_values = grades.values()
all_items = grades.items()

print(list(all_keys))
print(list(all_values))
print(list(all_items))

['Joel', 'Tim', 'Kate']
[80, 85, 90]
[('Joel', 80), ('Tim', 85), ('Kate', 90)]

#### __Adding a new entry to dictionary__

In [70]:
grades['Bob'] = 95
print(grades)

{'Joel': 80, 'Tim': 85, 'Kate': 90, 'Bob': 95}

#### __Checking the existence of key : value pair__

In [71]:
if 'Bob' in grades: 
    print(grades['Bob'])
else: 
    print('Bob is no where to be found!')

95

#### __Iterating dictionaries__
You can also iterate through dictionaries using for loops

In [72]:
# Prints out all the keys in a dictionary
for key in grades.keys():
  print("Key is: " + str(key))
  
# Prints out all the values in a dictionary
for value in grades.values():
  print("Value is: " + str(value))

# Get the kay and value pairs in a dictionary
for key, value in grades.items():
  print("Key is: " + str(key), "Value is: " + str(value))

Key is: Joel
Key is: Tim
Key is: Kate
Key is: Bob
Value is: 80
Value is: 85
Value is: 90
Value is: 95
Key is: Joel Value is: 80
Key is: Tim Value is: 85
Key is: Kate Value is: 90
Key is: Bob Value is: 95

#### __Removing an entry from a dictionary__

In [73]:
del(grades['Bob']) # deletes item corresponding to key3 from the dictionary
print(grades)

{'Joel': 80, 'Tim': 85, 'Kate': 90}

#### __Some useful functions on dictionaries__

In [74]:
print(len(grades))

dict3 = {"key2" : 1,
         "key1" : 1}

for key in sorted(dict3):
  print(key)

3
key1
key2

#### __Applications of dictionaries__
Why use dictionaries at all? They come in handy for automating certain tasks faster. Let's say you want to count the number of times each character appears in a string. Would you be able to do it without using a dictionary?

In [75]:
example = "test string"
char_dict = {} #initialise empty dictionary

# Remove empty space in string and iterate through
for char in example.replace(" ",""):
    char_dict[char] = char_dict.get(char, 0) + 1

for key, value in char_dict.items():
    print("Character: " + str(key), "Frequency: " + str(value))

Character: t Frequency: 3
Character: e Frequency: 1
Character: s Frequency: 2
Character: r Frequency: 1
Character: i Frequency: 1
Character: n Frequency: 1
Character: g Frequency: 1

---
## Your Turn!
### Task 1: Smartphones
```text
Given a list of smartphones, can you count the number of times each smartphone model appears in the list? 
Create a dictionary called phones_dict using the smartphone model as the key and the frequency of the smartphone as the value.
```

`HINTS:`
```python
# The expected output of the dictionary based on the given list:
{'iPhone': 4, 'Samsung': 2, 'Pixel': 2, 'OnePlus': 3}

1. In a for loop, iteratively
2. use the list.count(item) method to obtain the number of items in the list
3. then assign the key : value pair to the dictionary
```

In [76]:
phones_list = ['iPhone', 'Samsung', 'Pixel', 'OnePlus', 'OnePlus', 'Pixel', 'Samsung', 'iPhone', 'iPhone', 'iPhone', 'OnePlus']
phones_dict = {}

In [77]:
# YOUR CODE: 
for phone in phones_list: 
    phone_count = phones_list.count(phone)
    phones_dict[phone] = phone_count
    
print(phones_dict)

{'iPhone': 4, 'Samsung': 2, 'Pixel': 2, 'OnePlus': 3}

---
### Task 2: Dropped Server Data
```text
You are a network engineer from Amazon who is investigating dropped data packets between servers located in Penang and London. You are given 2 network diagnostic logs (both of which are a list of dropped character packets) called `log1` and `log2` which are acquired from the data sent by Penang server and data received by London server. 
Given the 2 lists, print a dictionary containing key : value pairs of the 'dropped character' packets and the frequency in which it was dropped. 
```

`HINTS:`
```python
# The expected output of the dictionary based on the two lists:
{'Y': 5, 'M': 4, 'E': 5, ' ': 4}

1. Recall list operations
```

In [78]:
lst1 = ['Y', 'M', 'E', ' ', 'Y', 'M', 'E', ' ', 'Y', 'M', 'E', ' ']
lst2 = ['Y', 'M', 'E', ' ', 'Y', 'E']
dropped_data_dict = {}

In [79]:
# YOUR CODE
appended_lst = lst1 + lst2
for item in appended_lst: 
    item_count = appended_lst.count(item)
    dropped_data_dict[item] = item_count

print(dropped_data_dict)

{'Y': 5, 'M': 4, 'E': 5, ' ': 4}

---
### Task 3: Student Database
```text 
You are a module coordinator who is in charge of managing a student database containing student scores. The student database is in a form of a dictionary containing all the scores of four students for each assessment type (e.g.: homework, quizzes and tests). 
Your boss wants you to calculate the average score of each assessment type and update the scores in the database. 
```
`HINTS:`
```python
# The expected output of the computed database, calculated_dict:
{'homework': 88.5, 'quizzes': 74.0, 'tests': 82.5}

1. Loop through the items of a dictionary using the .items() method to retrieve keys and values
2. Compute the average of the values
3. Assign the newly computed values with the associated keys
```

In [80]:
student_dict = {
  "homework": [90, 97, 75, 92],
  "quizzes": [88, 40, 94, 75],
  "tests": [75, 90, 62, 45]
}
calculated_dict = {}

In [81]:
# YOUR CODE
for key, value in student_dict.items(): 
    total = sum(value)
    average = total/len(value)
    calculated_dict[key] = average

print(calculated_dict)

{'homework': 88.5, 'quizzes': 74.25, 'tests': 68.0}

---
# <a class="anchor" name="while"></a>Chapter 6: While Loops

While loop is a classic loop with a set condition, while the condition is true, the cycle will repeat.

`while loop syntax`
```python
while condition:     # while this condition is True
    repeat_this_code # keep running this code over and over again
```

`while` is used to create a loop that goes on as long as the condition after `while` is `True` OR until `break` has been called. A classic example of an infinite `while` + `break`:

```python
while condition:     # while this condition is True, 
    repeat_this_code # keep running this code over and over again
    if condition_that_stops_loop: # but if this condition is met
        break        # stop the loop
```

`NOTE: In Python, every conditional statement must follow with a colon ':' and the code block within must be INDENTED!`

In [82]:
i = 0
while i < 10:
    print(i)
    i += 1 # increment i by 1

0
1
2
3
4
5
6
7
8
9

If the while condition is always true, the cycle will never stop.

While loops are commonly used with logic operators to extend their uses

In [83]:
i = 9
while i < 10 and i > 0:
    print(i)
    i -= 1 # decrement i by 1

9
8
7
6
5
4
3
2
1

---
# <a class="anchor" name="function"></a>Chapter 7: Functions

<div>
<img src="images/functions-diagram.png" width="200px", align="left"/>
</div>

```tex
Functions are a basic building block of a programming language. In python, functions can return multiple variables at the output. (unlike C/C++ and Fortran). 
Function, in a way similar to mathematics, is a rule established between 0 or more objects and returning (with a `return`) a corresponding output. In python a function is defined using def:
```

`Function syntax`
```python
def function_name (input1, input2,..., inputN):
    code
    return output
```

In [84]:
def subtract(a, b):
    return a - b

def add(a, b):
    return a + b

In [85]:
print(subtract(1, 2))
print(add(3.2, -1))

-1
2.2

In [86]:
# functions can have default input values
def plus2(a, b=2):
    return a + b

print(plus2(7))
print(plus2(7,4))

9
11

Analyse the following function, what do you think it does? Use the function on a number of testcases to see if your guess is correct.

In [87]:
def random_func(a):
    something = 0
    
    for character in str(a):
        something += int(character)
        
    return something

In [88]:
random_func(123)

6

---
## Recursive Functions

Recursive functions are a special type of function where the function calls itself. They are useful for simplifying certain structures of code such as for loops, but come at a cost of increased computing overhead. They are also useful when the bounds of a function are not known.

In [89]:
# Factorial function using for loops
def factorial_for_loop(x):
    answer = 1
    for i in range(1,x+1):
        answer *= i
    return answer

# Factorial function using recursion
def factorial_recursion(x):
    if x == 0: 
        return 1
    return x*factorial_recursion(x-1)

print(factorial_for_loop(5))
print(factorial_recursion(5))

120
120

---
## Your Turn!
### Task 1: Even Numbers Function

Combine your knowledge of comprehension lists and functions to write a function that finds all the even numbers between n and m:

Write test cases to test your function!

In [91]:
# CODE HERE
# def name_your_function(array, n, m):

---
# <a class="anchor" name="methods"></a>Chapter 8: Methods

A method is a function that takes a class instance as its first parameter. Methods are members of classes. 
### Data Types and Type Conversion
```python
str(), examples = '5', '3.45', 'True' # Variables to strings
int(), examples = 5, 3, 1 # Variables to integers
float(), examples = 5.0, 1.0 # Variables to floats
bool(), examples = True, False, True # Variables to Booleans
```

### List Methods Quick Reference
```python
my_list.index(a) # Get the index of an item 
my_list.count(a) # Count an item
my_list.append('!') # Append an item at a time
my_list.remove('!') # Remove an item
del(my_list[0:1]) # Remove an item
my_list.reverse() # Reverse the list
my_list.extend('!') # Append an item
my_list.pop(-1) # Remove an item
my_list.insert(0,'!') # Insert an item
my_list.sort() # Sort the list
```

### String Methods Quick Reference
```python
my_string.upper() # String to uppercase
my_string.lower() # String to lowercase
my_string.count('w') # Count String elements
my_string.replace('e', 'i') # Replace String elements
my_string.strip() # Strip whitespaces
```

### Ask for Help!
```python
help(str) # prints out a user-friendly documentation of the subject
```

In [92]:
st = 'hello my name is Sam'

In [93]:
st.lower()

'hello my name is sam'

In [94]:
st.upper()

'HELLO MY NAME IS SAM'

In [95]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [96]:
tweet = 'Go Sports! #Sports'

In [97]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [98]:
tweet.split('#')[1]

'Sports'

In [99]:
d = {'key1':'item1','key2':'item2'}

In [100]:
d.keys()

dict_keys(['key1', 'key2'])

In [101]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [102]:
lst = [1,2,3]

In [103]:
lst.pop()

3

In [104]:
lst

[1, 2]

In [105]:
'x' in [1,2,3]

False

In [106]:
'x' in ['x','y','z']

True

---
# <a class="anchor" name="exercise"></a>Exercises


## Exercise 1: Sum
Code a function that sums the digits in a number.

In [107]:
# CODE HERE

---
## Exercise 2: Sum Multiple
Find the sum of all integer multiples of 3 or 5 smaller than 10000.

In [108]:
# CODE HERE

***
## Exercise 3: Palindrome
Create a function that determines if a given string is a palindrome.
A palindrome is defined as a string that when reversed, is identical to the original string.

Example: <br>
*anna* is a palindrome <br>
*go dog* is a palindrome <br>
*PYME* is not a palindrome

You may assume the input is all lowercase and does not have punctuation

In [111]:
# def palindrome(string):
  #CODE HERE

---
## Exercise 4: Primes
Code a function that decides whether the input is a prime number or not.

Find the sum of the first 100 prime numbers.

In [112]:
# CODE HERE

## Exercise 5: What's on the menu?
Create three lists: food = [schnitzel, salad, soup, noodles, bread, fish], unavailable = [salad, noodles, bread], new = [maggi, roti canai, nasi goreng]
    
 Remove all 'unavailable' food from the list 'food', add all 'new' food to the list 'food'. Make sure each food is in the list only once.
 
 **CHALLENGE: Solve this exercise in only one line of code ;)** (apart from creating the lists)

In [113]:
# CODE HERE

---
# <a class="anchor" name="classes"></a>Chapter 9: Classes

Classes are special data structures that encapsulate other data types and functions.

We can define our own classes which serve specialised tasks for our purposes

In [114]:
# Classes are declared using the 'class' keyword
class Dog:
  
  # Our dog class has two data members, one string for the name and one int for the age. These data members are associaated with the class 'Dog'
    name = "Toby"
    age = 5

Now that we have defined the 'Dog' class, we can create an object (instance) of the class by assigning it to a variable similar to how we assign integers to variables

We can now access the data members of this object with the '.' operator

In [115]:
# Instantiate a dog object and assign it to the my_dog variable
my_dog = Dog()

# Access my_dog's data members using the . operator
print(my_dog.name)
print(my_dog.age)

Toby
5

But not all dogs are named Toby and are 5 years old. What if we want to generalise our class so we can create 'Dog' objects with different names and ages?

That what initialisers are used for.

In [116]:
class Dog:
  
  # Initialiser for dog class
    def __init__(self, name, age):
        # The self pointer is used here to assign the name passed to the initialiser to the name data member belonging to the object
        self.name = name
        self.age = age

# NOTE: Don't worry too much about the self pointer. It is not critical for this course, just know that by convention, the self keyword is passed into any member functions of a class

Now let's create a new dog object using our initialiser!

In [117]:
# Initialise a Dog object using the initialiser to assign our chosen name and age
my_dog = Dog("Spots", 3)

# Access my_dog's data members using the . operator
print(my_dog.name)
print(my_dog.age)

Spots
3

You can also define member functions within a class. Similar to the data members, these functions are tied to the class

In [118]:
class Dog:

    def __init__(self, name, age):
        self.name = name
        self.age = age

    # Define a member function. Member functions are tied to classes
    def bark(self):
        print("Woof woof")

Now, we can call the bark function of my_dog! Remember, this bark() function is tied to the class, meaning you can't just call bark() directly!

In [119]:
# Initialise a Dog object using the initialiser to assign our chosen name and age
my_dog = Dog("Spots", 3)

# Call the bark function associated with my_dog
my_dog.bark()

Woof woof

In [120]:
bark() # WILL NOT WORK

NameError: name 'bark' is not defined

** You do not need to know too much about classes, just keep in mind that when you are using external libraries, you are essentially using classes within the library to accomplish specific tasks (matrix operations, plotting graphs, etc) **