# YME: Introduction to Python Workshop

<div>
<img src="https://raw.githubusercontent.com/KenYew/YME-Python-Workshop/master/images/python-logo.png" width="400px" align = "left"/>
</div>


### __Python is an object-oriented, high-level interpreted programming language__ with integrated dynamic semantics primarily for web and app development. Python is relatively simple, so it's easy to learn since it requires a unique syntax that focuses on readability. Additionally, Python supports the use of modules and packages, which means that programs can be designed in a modular style and code can be reused across a variety of projects. 


<!-- ### <u>Advantages</u> -->
## **Advantages**
#### 1. Easy to Read, Learn and Write 📖
> Python is a high-level programming language that has English-like syntax. This makes it easier to read and understand the code. Python is really easy to pick up and learn, that is why a lot of people recommend Python to beginners. You need less lines of code to perform the same task as compared to other major languages like C/C++ and Java.

#### 2. Improved Productivity 📈
> Python is a very productive language. Due to the simplicity of Python, developers can focus on solving the problem.
They don’t need to spend too much time in understanding the syntax or behaviour of the programming language. You write less code and get more things done.

#### 3. Interpreted Programming Language 🖥
> Python is an interpreted language which means that Python directly executes the code line by line. In case of any error, it stops further execution and reports back the error which has occurred.

#### 4. Extensive Library Support 📚
> The standard library of Python is huge, you can find almost all the functions needed for your task. Python also has support to  There are readily available tools to deal with most complicated problems in today's world, especially for data science and machine learning. (e.g.: NumPy, Pandas, Scikit-Learn)

#### 5. Dynamically Typed 💫
> Python doesn’t know the type of variable until we run the code. It automatically assigns the data type during execution. The programmer doesn’t need to worry about declaring variables and their data types.

## **Disadvantages**
#### 1. Slow Speed 🐢
> Since Python is an interpreted language and dynamically-typed language, the line by line execution of code often leads to slow execution. The dynamic nature of Python is also responsible for the slow speed of Python because it has to do the extra work while executing code. So, Python is not used for purposes where speed is an important aspect of the project.

#### 2. Not Memory Efficient 💿
> To provide simplicity to the developer, Python has to do a little tradeoff. The Python programming language uses a large amount of memory. This can be a disadvantage while building applications when we prefer memory optimization.

---
#### Author: Ken Yew Piong

<i class="fa fa-linkedin-square fa-1x" aria-hidden="true"></i> Linkedin: [**@Ken Yew Piong**](https://www.linkedin.com/in/ken-yew-piong/)

<i class="fa fa-github-square fa-1x" aria-hidden="true"></i> GitHub: [**@KenYew**](https://github.com/KenYew)

<i class="fa fa-facebook-square fa-1x" aria-hidden="true"></i> Messenger: [**@kkenyew**](https://m.me/kkenyew)

<i class="fa fa-envelope-square" aria-hidden="true"></i> Mail: josephpiong@live.com

In [1]:
%%html
<style>
table {float:left}
</style>

---
### Jupyter Lab Start-up
> to run Jupyter lab, type in Anaconda Prompt (Windows) or Terminal (MacOS): <br>
    `jupyter lab` <br>

### Jupyter Lab Shortcuts
*With the cell selected,* <br>
`a` : insert a new cell above <br>
`b` : insert a new cell below <br>
`m` : change the current cell to Markdown <br>
`y` : change the current cell to code <br>
`Enter` : go back to edit mode <br>
`Shift + Enter` : execute the cell and then move to the next cell <br>
`?` : help <br>

### Python Programming Quick Reference
`Shift + /` : keyboard shortcut to comment highlighted code <br>
`#` : comment a single line of code <br>
`""" """` : comment multiple lines of code <br>
`print(variable)` : prints the variable into output console <br>
`type(variable)` : determines the data type of the variable <br>
`len(variable)` : determines the length of the variable <br>
`function()` : calls the function <br>
`variable.method()` : calls and applies the method onto variable <br>

---
# Table of Contents

In this workshop, we will briefly cover the key elements that make Python stands out among the other programming languages and also cover the basis of its core data structures.

* **Chapter 1:** Variables and Data Types
* **Chapter 2:** Lists
* **Chapter 3:** Conditional Statements
* **Chapter 4:** For Loops
* **Chapter 5:** Dictionaries
* **Chapter 6:** While Loops
* **Chapter 7:** Functions
* **Chapter 8:** Methods

<!-- #### <li> [Introduction to Python](#intro)</li>
#### <li> [Variables and Data Types](#data)</li>
#### <li> [Lists](#lists)</li>
#### <li> [Conditional Statements](#conditional)</li>
#### <li> [For Loops](#for)</li>
#### <li> [Dictionaries](#dict)</li>
#### <li> [While Loops](#while)</li>
#### <li> [Functions](#function)</li>
#### <li> [Exercises](#exercise)</li>
#### <li> [Classes](#classes)</li> -->

---
# <a class="anchor" name="var"></a> Chapter 1: Variables and Data Types

    Variables are "black boxes" used to store values. When a variable is created, Python reserves some space in memory to store the values. The Python interpreter automatically allocate memory and decides what can be stored in the reserved memory. Hence, Python can dynamically and automatically assign values of any data type to variables without needing to explicitly declare their data types (like in Java). The most common data types are:
> - **Strings** - A "string" of characters
> - **Integers** - Whole numbers
> - **Floating-point values** - Decimal numbers
> - **Boolean** - Binary logic (True / False)

`PYTHON CODE`
```python
my_string = 'Hello World!'
my_integer = 100
my_float = 10.5
my_boolean = True 
print(my_string, my_integer, my_float, my_boolean)
```

`OUTPUT`
```
Hello World! 100 10.5 True
```

---
## 1.1 Commenting
`Comment Syntax in Python`
```python
 # SINGLE HASHTAG for single-line comments 
 """ 
 TRIPLE QUOTATION MARKS for multi-line comments
 """
```
`EXAMPLE`
```python
a = 5 # setting variable a to value 5
"""
This piece of code assigns the variable a to value 5
Commenting is a good programming practice to help developers understand your code!
"""
```

---
## 1.2 Variable Declaring
##### __In this example, we will declare 4 different variables of different data types! We can use the type() function to verify each variable's data type!__

In [ ]:
a = 5  # the variable a is assigned the value 5
type(a)  # the type() function displays the variable type of the argument in the brackets

In [ ]:
# python automatically guesses the variable type of your input, can you google what this variable type stands for?
b = 0.299
type(b)

In [ ]:
c = 'Hello World!'
type(c)

In [ ]:
d = False
type(d)

---
## 1.3 Strings

In [ ]:
single_quotes = 'I can declare strings using single quotes!'
double_quotes = "I can declare strings using double quotes!"
wrap_single_quotes = "I can write special characters like '' inside double quotes!"

print(single_quotes)
print(double_quotes)
print(wrap_single_quotes)

---
## 1.4 Printing
In order to print out the value of a variable or a calculation, you can use the function print()
##### __Simple Printing__

In [ ]:
print(a) # don't forget the brackets ()!
print(b)
print(a, b) # the ',' separator provides a space between variables when printing
print('My numbers are', a, 'and', b) # You can combine more strings and variables with ','

##### __Format Printing__

In [ ]:
# Declare variables of different data types
my_name = 'Ken'
my_number = 27

# Format printing
print('My name is {} and my favourite number is {}'.format(my_name, my_number))

# f-string printing (Python 3.6 and above only)
print(f'My name is {my_name} and my favourite number is {my_number}')

##### __Printing new spaces and lines__

In [ ]:
# Using \t and \n to create a new space and line respectively
print('This is a string \t with a space and \n a new line.')

In [ ]:
# Combining everything we've learned
print(f'My name is {my_name}\n and my favourite number is, wait for it... \t {my_number}!')

---
## 1.5 Mathematical Operations

##### __Python Syntax for Mathematical Operations__
| Operation | Description |       
| :--: |:------------- |
|`x + y`| sum of x and y | 
| `x - y` | difference of x and y |
|`x * y`| product of x and y | 
| `x / y` | quotient of x and y |
|`x // y`| floored quotient of x and y | 
| `x % y` | remainder of x / y (modulo) |
|`x ** y`| x to the power of y |

In [ ]:
# Assign variable x to the value 10
x = 10

# Perform the following mathematical operations and print the results
print(x + 2)
print(x - 2)
print(x * 2)
print(x / 2)
print(x // 3)
print(x % 2)
print(x ** 2)

---
## 1.6 Multi-variable Operations
##### It is possible to add multiple variables of different data types in Python. The resulting type is chosen automomatically. This is called broadcasting

In [ ]:
type1 = 'str'   # string
type2 = 4       # int
type3 = 4.5     # float
type4 = True    # bool (logic value True / False)

print(type2 + type3)
print(type3 + type4)
# print(type1 + type2) # This line of code will cause an error because you cannot perform operations on float and int together hence data conversion comes in handy

---
## 1.7 Strings Revisited
### (A) String Arithmetics
##### __There is an arithmetic associated to the string data type, see how a string behaves under the following operands:__

In [ ]:
hello = "Hello"
space = " "
world = "World!"
print(hello + space + world)
print((hello + space)*2 + world)

##### _Notice that the sign "+" concatenates strings, but adds numbers when applied to `int`s or `float`s. An operator with different operations for different types is called an "overloaded operator"._


### (B) String Slices

<div>
<img src="https://developers.google.com/edu/python/images/hello.png" width="250px" align = "left"/>
</div>

The "slice" syntax is a handy way to refer to sub-parts of sequences -- typically strings and lists. The slice s[start:end] is the elements beginning at start and extending up to but not including end. Suppose we have s = "Hello"

* `s[1:4]` is 'ell' -- chars starting at index 1 and extending up to but not including index 4
* `s[1:]` is 'ello' -- omitting either index defaults to the start or end of the string
* `s[:]` is 'Hello' -- omitting both always gives us a copy of the whole thing (this is the pythonic way to copy a sequence like a string or list)
* `s[1:100]` is 'ello' -- an index that is too big is truncated down to the string length

In [ ]:
s = 'Hello'
print(s[1:4])
print(s[1:])
print(s[:])
print(s[1:100])

print(s[::2]) # You can print every 2 characters
print(s[-1]) # You can also print characters by negative indexing (see diagram above)

---
## 1.8 Data Type Conversion
##### __It is possible to manually change the data type of a variable, for example strings to integers or floating-point numbers.__

In [ ]:
# Declare the string s
s = "123"

# Convert String to Integer
si = int(s) # string s converted to an integer
print(si)

# Convert String to Float
sf = float(s) # string s converted to a floating point number
print(sf)

##### __... or vice-versa:__

In [ ]:
# Declare the integer d
d = 123

# Convert Integer to String
ds = str(d)
print('this is a string:', ds, type(ds))

##### __Finally, strings can be split into lists!__

In [ ]:
s = "123"
print(len(s))   # How long is this string?
list(s)

---
### Variables and Data Types Quick Reference

<div>
<img src="https://raw.githubusercontent.com/KenYew/YME-Python-Workshop/master/images/variables_assignment.png" width="400px" align = "left"/>
</div>

<div>
<img src="https://raw.githubusercontent.com/KenYew/YME-Python-Workshop/master/images/base_types.png" width="400px" align = "middle"/>
</div>

---
### Data Conversion Quick Reference

<div>
<img src="https://raw.githubusercontent.com/KenYew/YME-Python-Workshop/master/images/data_conversions.png" width="600px" align = "left"/>
</div>

___
## Your Turn!

#### Task 1: Write a code to print the sum of the variables `a` and `b`

In [ ]:
a = 2
b = 3
# YOUR CODE

#### Task 2: Python can also work as a very powerful calculator, what is 99 to the power of 99? (use Python mathematical operations)

In [ ]:
# YOUR CODE

#### Task 3: Create a new variable and print out its type

In [ ]:
# YOUR CODE

#### Task 4: Create a new string variable "2019", convert it to an integer, and add the result to the float number number = 5.7

In [ ]:
# YOUR CODE

---
# <a class="anchor" name="lists"></a>Chapter 2: Lists
#### List is a collection consisting of mutable sequences of elements (e.g.: once created, the separate elements can be changed). Lists are ordered, changeable and allow duplicate members.
<div>
<img src="https://developers.google.com/edu/python/images/list1.png" width="700px" align = "left"/>
</div>

`PYTHON CODE`
```python
colors = ['red', 'blue', 'green']
print colors[0]    ## red
print colors[2]    ## green
print len(colors)  ## 3
```

---
## 2.1 Creating a list
`PYTHON CODE`
```python
# Use square brackets to create your list
a = [element1, element2, element3]
```

In [ ]:
my_list = ['red', 'blue', 'green']
print(my_list)

The elements in a list do not need to be all of the same type.

In [ ]:
good_list = ['Data Science', 485, True, 0.001]
print(good_list)

---
## 2.2 Adding a new element to the list
`PYTHON CODE`
```python
# Use the append method to add a new element at the end of the list
my_list.append(element)
```

In [ ]:
my_list.append('orange')
print(my_list)

`PYTHON CODE`
```python
# You can also use the insert method to add your element at a specific index
my_list.insert(index, element)
```

In [ ]:
my_list.insert(2, 'purple')
print(my_list)

---
## 2.3 Removing an element from the list
`PYTHON CODE`
```python
# Use the remove method to remove the specified element
my_list.remove(element) 
# Or use the pop method to remove an element from the end of the list
my_list.pop()
```

In [ ]:
my_list.remove('orange')
my_list.remove('purple')
print(my_list)

---
## 2.4 Lists operations
Lists can be added together! The code below appends list b to list a!

In [ ]:
a = [1, 2, 3]
b = [2, 5]
c = a + b        # Lists can be added together, this appends list b to list a!
print(c)

Try if lists can be subtracted or multiplied!

In [ ]:
# CODE HERE
a = [1, 2, 3]
b = [2, 5]
# Hint: c = a ? b
# print(c)

---
## 2.5 List statistics
Below you can see some handy functions that can be perfomed on a list:

In [ ]:
lst = [1, 2, 3]
print(len(lst)) # Prints the length of the list
print(sum(lst)) # Prints the total sum of elements of the list

---
## 2.6 Sorting a list
`PYTHON CODE`
```python
# Use the sort method to sort the list
lst.sort()

# Use the reverse() method to reverse the list
lst.reverse()
```
> __Note:__ _sort() and reverse() methods are void methods (it does not return any value) but rather applies their effect on the list._

In [ ]:
lst = [5, 3, 8, 1]
lst.sort()
print(lst)
lst.reverse()
print(lst)

---
## 2.7 Create a list of unique elements
The set() function for lists which returns all the unique elements in a list:

In [ ]:
sample_list = [1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4]
print(set(sample_list)) # set() method outputs only a list of unique elements

# Also works for strings as python treats strings as a list of characters!
sample_string = "Hello World!"
print(set(sample_string))

# Note that the outputs of set are not sorted and it also included the empty space ' ' as a unique character

---
## 2.8 Range function
`range()` is a particularly useful iterator that can be converted into a list:

In [ ]:
r = range(10)
print(r)

In the future you will see that the result of the `range()` function behaves just like a list would when combined with certain functions or in loops. If you want the result to really be a list, make sure to convert it!

In [ ]:
r = list(r)    
print(r)
print(len(r), sum(r))

The `range()` function can have a specified start, end and step size. The syntax is: range(first element, last element, step size)

If step size is not specified, the default value is one.

In [ ]:
print(list(range(1,10,2)))
print(list(range(1,10)))
print(list(range(10,1,-1)))

---
### List Operations and Range Quick Reference

<div>
<img src="https://raw.githubusercontent.com/KenYew/YME-Python-Workshop/master/images/list_operations.png" width="500px" align = "left"/>
</div>

<div>
<img src="https://raw.githubusercontent.com/KenYew/YME-Python-Workshop/master/images/range_integer_sequences.png" width="500px" align = "middle"/>
</div>

---
## 2.9 Accessing elements in a list
- #### Elements in a list can be accessed separately, each element has an associated index starting from 0.
- #### Most programming languages including Python use zero-based indexing meaning the first element of the list is associated with index 0 first and so on. 
<div>
<img src="https://raw.githubusercontent.com/KenYew/YME-Python-Workshop/master/images/list_indexing.png" width="1000px" align = "middle"/>
</div>

#### __Accessing elements in a list__

In [ ]:
lst = [1, 2, 3] # Instantiate list containing integers 1, 2 and 3
print(lst[0])     # Accessing the first element by index 0, not 1! PYTHON uses zero-based indexing!
print(lst[2])     # Accessing the third element of the list
print(lst[-1])    # Accessing the last element of the list
lst[0] = 5        # Overwriting the first element with value 5
print(lst)        # Printing out the modified list

You have already seen how to access a single element in a list:

In [ ]:
a = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5, 9]
print(a[0])
print(a[1])
print(a[-1])

---
#### __Accessing multiple elements (sublists) from a list__
In python, you can also access "sublists" of lists.
`PYTHON SYNTAX`
```python
# The list follows a sequence of elements from start (inclusive) to stop (exclusive) by step. 
list[ start : end : step ] 
# For example, 
a = [1, 2, 3, 4, 5]
print(a[0:2]) # 0th element is included but 2nd element is excluded
```
`OUTPUT`
`[1,2]`

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(a[0:2])   # first two elements
print(a[:2])    # from the start to element two
print(a[7:])    # from element seven to the end
print(a[-2:])   # from second last element to the end
print(a[::2])   # every second element from the start to the end

Lists can also contain more lists, exciting! Let's append a list at the end of a list:

In [ ]:
good_list.append(['another', 'list'])
print(good_list)
print(good_list[-1][0]) # picks the first element of the last element of good_list

---
## 2.10 Boolean Operations

In Python it is often necessary to write down conditions which result in a boolean value (either `False` or `True`). It is important to learn how to evaluate such conditions using basic logic. Let's look at some logic operations first:

##### __Python Syntax for Boolean Operations__
| Operation | Description |       
| :--: |:------------- |
|`x or y`| if x is false, then y, else x | 
| `x and y` | if x is false, then x, else y |
|`not x`| f x is false, then `True`, else `False` |

In [ ]:
print('OR Operator:')
print(True or False)
print(False or False)
print(True or True)

print('\nAND Operator:')
print(False and False)
print(True and True)
print(True and False)

print('\nNOT Operator:')
print(not False)
print(not True)

#### This can be summarised into this table

![alt text](https://upload.wikimedia.org/wikipedia/commons/4/4a/Truth_table_for_AND%2C_OR%2C_and_NOT.png)

---
## 2.11 Comparison Operations
Now we can test a few logic operations on these variables, look at the cell below and try to guess the output! Write your guesses down before running the cell!

##### __Python Syntax for Comparisons Operations__
| Operation | Description |       
| :--: |:------------- |
|`<`| strictly less than | 
|`<=`| less than or equal | 
|`>`| strictly greater than | 
|`>=`| greater than or equal | 
|`==`| equal | 
|`!=`| not equal |

In [ ]:
print(a == b) # a equal to b
print(a+a == b) # 2a equal to b
print(a != b) # a not equal to b
print(a > b) # a greater than b
print(a < b) # a lesser than b
print(a <= b) # a lesser or equal to b

There are a few more intuitive operations that will come handy later on:

##### __Python Syntax for More Comparisons Operations__
| Operation | Description |       
| :--: |:------------- |
|`in`| object within | 
|`not in`| negated object within | 
|`is`| object identity | 
|`is not`| negated object identity |

In [ ]:
print(a in c) #if a is in c?
print(b in c) #if b is in c?
print(a not in c) #if a is not in c?
print(b not in c) #if b is not in c?
print(a and b in c) #if both a and b is in c?
print(a or b in c) #if either a or b is in c?

print(2 is '2') #if integer 2 is string 2?
print("2" is '2') #double quote and single quotes are equivalent?
print(2 is not '2') #if integer 2 is not string 2?

Make sure you understand each of the above results, if you don't, ask one of the demonstrators.

---
## Your Turn!
### Task 1: List Basics

```python
Create a list containing numbers from 0 to 7. 
e.g.: [0, 1, 2, 3, 4, 5, 6, 7]
The use the `len()` function and print out the length of the list.
```

In [ ]:
# YOUR CODE
my_list = []

```tex
Create a list containing numbers between 10 and 25. Then sort the list in descending order. 
```

In [ ]:
# YOUR CODE

```tex
Can you use your python knowledge of lists and strings to find the 10th character in the sentence below?
```

In [ ]:
s = "This is a sTring with an exciting 10th character!"
# YOUR CODE

    Using the given list below, print out the following sublists:

```python
1. All elements between the 2nd and 5th element (e.g.: [2, 3, 4]) 
Note: Be careful of Python's zero indexing!
2. Every second element of the list
3. Print out the whole list backwards
4. Exchange the order of the 4th and 5th element and the 8th and 9th element. (e.g. [1, 2, 3, 8, 9, 6, 7, 4, 5, 10])
```

In [ ]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# YOUR CODE

---
# <a class="anchor" name="conditional"></a> Chapter 3: Conditional Statements
Conditional statements are useful when we want to run some parts of the code only if some conditions are fulfilled. 
If the `[Condition]` in the if statement has the value True, the `[Code]` will be executed, otherwise it will not.


`if statement syntax`
```python
if condition: # If condition is True
    code # then run this block of code
```

`if, elif, else statement syntax`
```python
if condition 1:   # If condition 1 is True, run code 1
    code 1 
elif condition 2: # If condition 1 is False but condition 2 is True, run code 2
    code 2
else:             # If condition 1 and 2 are False, run code 3
    code 3
```

`NOTE: In Python, every conditional statement must follow with a colon ':' and the code block within must be INDENTED!`

In [ ]:
# Lets start with a few simple conditional statements
if True:
    print("The condition after \"if\" is true!")

In [ ]:
if False:
    print("The condition after \"if\" is false :( !")

In [ ]:
# It is possible to include a number of conditions! If neither is true, then the code in else will run.
a = 5
if a == 2:
    print("a is equal to two!")
elif a == 3 or a == 4:
    print("a is equal to three or four?")
else:
    print("a is not equal to either two, three or four!")

---
### Conditional Statement Quick Reference

<div>
<img src="https://raw.githubusercontent.com/KenYew/YME-Python-Workshop/master/images/conditional_statement.png" width="500px" align = "left"/>
</div>

---
## Your Turn!
## Task 1: Worker's Pay
    Write a program to prompt the user for hours and rate per hour to compute gross pay. Take into account that the factory gives the employee 1.5 times the hourly rate for hours worked above 40 hours. 
$ \text{Employee Extra Pay} = 40 \times rate + (hours - 40) \times 1.5 \times rate $

`
INPUTS:
Enter Hours: 45
Rate: 10
`

`
OUTPUT: 
Pay: 475.0
`

In [ ]:
hours = 45
rate = 10

# YOUR CODE

---
## Task 2: Grade System
    Write a program to prompt for a score between 0.0 and 1.0. If the core is out of range print an error. If the score is between 0.0 and 1.0, print a grade using the following table:

```python
Score Grade
>= 0.9 A
>= 0.8 B
>= 0.7 C
>= 0.6 D
< 0.6 F
```

In [ ]:
score = 0.79 # Change for 0.92, 0.82, 0.62, 0.52 to test your code
# YOUR CODE

---
## Task 3: Check Length of String

Write a code that takes a list with n elements on its input, and returns the string `"Too long"` if the n > 10, `"Too short"` if n < 10, and `"Ideal"` if n = 10.

In [ ]:
lst = [5, 10, 12]
# for n in lst: # Looping through each element of the list with variable n
    # YOUR CODE (uncomment the for loop above then write your conditional statements)

---
# <a class="anchor" name="for"></a>Chapter 4: For Loops

Loops are one of the most important structures you will learn today, they allow cerain parts of the code to be executed multiple times. In Python the `for` loop is used extensively. 

`FOR LOOP SYNTAX`
```python
list_of_elements = [element1, element2, element3]
for variable in list_of_elements:
    # Iteration 1: variable = element1 
    # Iteration 2: variable = element2
    # Iteration 3: variable = element3
```

`EXAMPLE PYTHON CODE`
```python
items_list = ['apples', 'oranges', 'bananas']
for item in items_list: 
    print(item)
```
`OUTPUT`
```
apples
oranges
bananas
```

---
## 4.1 Lists in For Loops

In [ ]:
# One by one, each element of the list is assigned to the variable, i, then the code inside the For Loop is executed
namelist = ['John', 'Amy', 'Kate']
for name in namelist:
    print(name)

In [ ]:
# You can use lists containing elements of different datatypes as well!
fancy_list = [4, 1.27, 'my_string', True]
for item in fancy_list: 
    print(item)

In [ ]:
# You can also iterate each character of a string
for i in "abc":   
    print(i)
# This is because python treats a string as an array of characters ie. ['a','b','c']

In [ ]:
# sometimes it is useful to have two nested for loops, keep in mind the more nested loops the slower the code!
for i in [1,2,3]:
    for j in range(2):
        print(i, j)

---
## 4.2 Range function
```tex 
The range() function generates the integer numbers between the given start integer to the stop integer, which is generally used to iterate over with for loop. 
```
`PYTHON CODE`
```python
range(start, stop, step)
my_range = range(1, 10, 2)
print(list(my_range))
```

`OUTPUT` 
`[1, 3, 5, 7, 9]`

In [ ]:
# The range() function outputs an object with a list of numbers that follow zero-based indexing!
my_range = range(5) # Generates an object with a list of numbers from 0 to 4
print(list(my_range)) # You have to convert it into a list to print the list of numbers

#### __range() in For Loops__

In [ ]:
# In a for loop, generate integers 1 fo 10
print('List of numbers:')
for i in range(1, 11):
    print(i, end = ' ')

# In a for loop, generate odd numbers from 1 to 10
print('\nList of odd numbers:')
for i in range(1, 11, 2): 
    print(i, end = ' ')
    
# In a for loop, generate integers 1 to 10 in descending order
print('\nList of numbers in descending order:')
for i in range(10, 0, -1):
    print(i, end = ' ')

`range() explanation`
```tex
range() function returns an object that produces a sequence of integers from start (inclusive) to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1. Start defaults to 0, and stop is omitted! For example, range(4) produces 0, 1, 2, 3. These are exactly the valid indices for a list of 4 elements. When step is given, it specifies the increment (or decrement).
```

#### __Looping through elements of a list__

In [ ]:
# Not so pythonic way to print all elements of a list
lst = [3, 5, 7, 9]
for i in range(len(lst)): 
    print(lst[i])

In [ ]:
# Pythonic way
lst = [3, 5, 7, 9]
for index, value in enumerate(lst): 
    print('Index:', index, 'Value:', value)

In [ ]:
lst1 = [2, 4, 6, 8]
lst2 = [3, 5, 7, 9]
targetvalue = 17

for value1 in lst1: 
    for value2 in lst2: 
        if value1 + value2 == targetvalue:
            print(value1, '+', value2, '=', targetvalue)

---
## 4.3 Enumerate function
Enumerate is also a handy function that is used in conjunction with for loops. Enumerates indexes all the items in a list, as shown below

In [ ]:
# Prints out all the items in the list with their corresponding index
animals = ['cat', 'dog', 'mouse']
for item in enumerate(animals):
    print(item)

In [ ]:
# It is also possible to extract the indexes and elements in the lsit individually
for index, animal in enumerate(animals):
    print(index, animal)

```tex
Note: The enumerate object and reversed object you've seen before are special data structures that allow you to iterate through them ie. using a for loop. You don't need to know too much about these now but keep in mind you can loop through more than just lists!
```

---
## 4.4 Zip function
The zip() function can be used to simultaneously go through elements of multiple lists (must be the same length) in a For Loop.

In [ ]:
# You can use the zip() function to simultaneously go through multiple lists of the same length in a For Loop
list1 = ['Ken', 'Biology', 99]
list2 = ['Ian', 'Chemistry', 85]
list3 = ['Michael', 'Physics', 65]
  
# Here zip() function takes two equal length list and merges them together in pairs 
for a, b, c in zip(list1,list2, list3): 
    print (a, b, c)

---
## 4.5 List Comprehension (Advanced)

```tex
A list comprehension is a compact way to write an expression that expands to a whole list. 
```

`If you encounter an expression such as this:`

```python
for variable in list:
    code
```
        
`It can be briefly written in python as:`

```python 
[ code for variable in list ]
```

`For example:`

```python
numbers = [1, 2, 3, 4]
for number in numbers:
    squares = number * number

# Same as:
squares = [number * number for number in numbers]
```

In [ ]:
conversation = ['hello', 'and', 'goodbye']
shouting = [ word.upper() for word in conversation]
print(shouting)

In [ ]:
# Print list of square numbers from 0 to 9
squares = [ x**2 for x in range(10) ]
print(squares)

---
`If you encounter an expression such as this:`

```python
for variable in list:
    if condition: 
        code
```
        
`It can be briefly written in python as:`

```python 
[ code for variable in list if condition ]
```

In [ ]:
## Select values <= 2
nums = [2, 8, 1, 6]
small = [ n for n in nums if n <= 2 ]
print(small)

In [ ]:
## Select fruits containing 'a', change to upper case
fruits = ['apple', 'cherry', 'banana', 'lemon']
afruits = [ s.upper() for s in fruits if 'a' in s ]
print(afruits)

---
## Your Turn!

### Task 1: Multiples of 3
    Create a list of all the multiples of 3 between 10 and 25
    
`OUTPUT: [12, 15, 18, 21, 24]`

In [ ]:
# YOUR CODE

---
### Task 2: Filtersum
Go through the list below and print two types of sums
1. The sum of all odd numbers
2. The sum of all even numbers

```python
INPUT: lst = [100, 200, 523, 1, 46, 23, 87, 66, 1049]
```
`OUTPUT: 
EVEN: 412
ODD: 1683`

In [ ]:
lst = [100, 200, 523, 1, 46, 23, 87, 66, 1049]
# YOUR CODE

---
### Task 3: Sum Multiple
```tex
Find the sum of all integers that are multiples of 3 or 5 but smaller than 100
Answer: 3582
```

In [ ]:
# YOUR CODE

---
### Task 4: Triangle
Take a string with a single character, and a number, as inputs. Output a right triangle, starting from the base, made up of that character. 

`HINT: use a for loop with range n and print the number of characters equivalent to n, then decrement n`

```python
Sample Input:
c = '#'
n = 5

Sample Output:

#####
####
###
##
#
```

In [ ]:
c = '#'
n = 5

# YOUR CODE

---
### Task 5: What's on the menu?
Given the following lists of food that are on the menu, unavailable and newly added.
```python
food = [schnitzel, salad, soup, noodles, bread, fish]
unavailable = [salad, noodles, bread]
new = [maggi, roti canai, nasi goreng]
```

    Remove all the 'unavailable' food and add all the 'new' food to the list 'food'. 
    Make sure each food is in the list only once.
 
 **CHALLENGE: Solve this exercise in only one line of code ;)** (apart from creating the lists)

In [ ]:
food = ['schnitzel', 'salad', 'soup', 'noodles', 'bread', 'fish']
unavailable = ['salad', 'noodles', 'bread']
new = ['maggi', 'roti canai', 'nasi goreng']

# YOUR CODE

---
# <a class="anchor" name="dict"></a> Chapter 5: Dictionaries

- #### Dictionaries are efficient hash table data structures that stores data in __*key : value*__ pairs. 
- #### In dictionaries, each value is associated with a unique key and allows quick retrieval of the desired value using its corresponding key.
- #### This is useful when you want to assign a value to a unique key or identifier. All keys must be unique for a dictionary.  
- #### Dictionaries can be created using {} and the __*key : value*__ pair structure are as shown below:-
<div>
<img src="https://raw.githubusercontent.com/KenYew/YME-Python-Workshop/master/images/dict-diagram.png" width="500px" align = "middle"/>
</div>

---
## 5.1 Creating a dictionary
`PYTHON CODE`
```python

# A dictionary (dict) can be created by starting with an empty dict {} and then storing key : value pairs into the dict like this:
# dict[key] = value-for-that-key
grades = {}
grades['Joel'] = 80
grades['Tim'] = 85
grades['Kate'] = 90

# Or you can do all at once like this:
grades = {'Joel': 80, 'Tim': 85, 'Kate': 90}
print(grades)
```
`OUTPUT`
`{'Joel': 80, 'Tim': 85, 'Kate': 90}`

---
## 5.2 Accessing a dictionary
`PYTHON CODE`
```python
# Retrieve the value associated with the key provided
joels_grade = grades['Joel']
joels_grade = grades.get('Joel')
```
`OUTPUT: 80` 

`PYTHON CODE`
```python
# keys() method retrieves all the keys in the dictionary
all_keys = grades.keys()
# values() method retrieves all the values in the dictionary
all_values = grades.values()
# items() method retrieves all key : value pairs in the dictionary
all_items = grades.items()

print(list(all_keys))
print(list(all_values))
print(list(all_items))
```
`OUTPUT:`
`
['Joel', 'Tim', 'Kate']
[80, 85, 90]
[('Joel', 80), ('Tim', 85), ('Kate', 90)]
`

---
## 5.3 Adding and removing entries in a dictionary
`PYTHON CODE`
```python
# Adding a new entry is as easy as declaring a new unique key:value pair
grades['Bob'] = 95
print(grades)
```
`OUTPUT:`
`{'Joel': 80, 'Tim': 85, 'Kate': 90, 'Bob': 95}`

`PYTHON CODE`
```python
# del dict[key] removes the key : value pair 
del(grades['Bob'])
print(grades)
```
`OUTPUT:`
`{'Joel': 80, 'Tim': 85, 'Kate': 90}`

---
## 5.4 Checking the existence of a key : value pair
`PYTHON CODE`
```python
# You can check for the existence of a key using in:
joel_has_grade = "Joel" in grades # Output: True
amy_has_grade = "Amy" in grades # Output: False

if 'Tim' in grades: 
    print(grades['Tim']) # Output: 85
```
---
### Dictionary Operations Quick Reference
<div>
<img src="https://raw.githubusercontent.com/KenYew/YME-Python-Workshop/master/images/dict_operations.png" width="300px" align = "middle"/>
</div>

---

#### __Creating a dictionary__

In [ ]:
grades = {'Joel': 80, 'Tim': 85, 'Kate': 90}

all_keys = grades.keys()
all_values = grades.values()
all_items = grades.items()

print(list(all_keys))
print(list(all_values))
print(list(all_items))

#### __Adding a new entry to dictionary__

In [ ]:
grades['Bob'] = 95
print(grades)

#### __Checking the existence of key : value pair__

In [ ]:
if 'Bob' in grades: 
    print(grades['Bob'])
else: 
    print('Bob is no where to be found!')

#### __Iterating dictionaries__
You can also iterate through dictionaries using for loops

In [ ]:
# Prints out all the keys in a dictionary
for key in grades.keys():
    print("Key is: " + str(key))

# Prints out all the values in a dictionary
for value in grades.values():
    print("Value is: " + str(value))

# Get the kay and value pairs in a dictionary
for key, value in grades.items():
    print("Key is: " + str(key), "Value is: " + str(value))

#### __Removing an entry from a dictionary__

In [ ]:
del(grades['Bob']) # deletes item corresponding to key3 from the dictionary
print(grades)

#### __Some useful functions on dictionaries__

In [ ]:
print(len(grades))

dict3 = {"key2" : 1,
         "key1" : 1}

for key in sorted(dict3):
    print(key)

#### __Applications of dictionaries__
Why use dictionaries at all? They come in handy for automating certain tasks faster. Let's say you want to count the number of times each character appears in a string. Would you be able to do it without using a dictionary?

In [ ]:
example = "test string"
char_dict = {} #initialise empty dictionary

# Remove empty space in string and iterate through
for char in example.replace(" ",""):
    char_dict[char] = char_dict.get(char, 0) + 1

for key, value in char_dict.items():
    print("Character: " + str(key), "Frequency: " + str(value))

---
## Your Turn!
### Task 1: Smartphones
```text
Given a list of smartphones, can you count the number of times each smartphone model appears in the list? 
Create a dictionary called phones_dict using the smartphone model as the key and the frequency of the smartphone as the value.
```

`HINTS:`
```python
# The expected output of the dictionary based on the given list:
{'iPhone': 4, 'Samsung': 2, 'Pixel': 2, 'OnePlus': 3}

1. In a for loop, iteratively
2. use the list.count(item) method to obtain the number of items in the list
3. then assign the key : value pair to the dictionary
```

In [ ]:
phones_list = ['iPhone', 'Samsung', 'Pixel', 'OnePlus', 'OnePlus', 'Pixel', 'Samsung', 'iPhone', 'iPhone', 'iPhone', 'OnePlus']
phones_dict = {}

In [ ]:
# YOUR CODE:

---
### Task 2: Dropped Server Data
```text
You are a network engineer from Amazon who is investigating dropped data packets between servers located in Penang and London. You are given 2 network diagnostic logs (both of which are a list of dropped character packets) called `log1` and `log2` which are acquired from the data sent by Penang server and data received by London server. 
Given the 2 lists, print a dictionary containing key : value pairs of the 'dropped character' packets and the frequency in which it was dropped. 
```

`HINTS:`
```python
# The expected output of the dictionary based on the two lists:
{'Y': 5, 'M': 4, 'E': 5, ' ': 4}

1. Recall list operations
```

In [ ]:
lst1 = ['Y', 'M', 'E', ' ', 'Y', 'M', 'E', ' ', 'Y', 'M', 'E', ' ']
lst2 = ['Y', 'M', 'E', ' ', 'Y', 'E']
dropped_data_dict = {}

In [ ]:
# YOUR CODE

---
### Task 3: Student Database
```text 
You are a module coordinator who is in charge of managing a student database containing student scores. The student database is in a form of a dictionary containing all the scores of four students for each assessment type (e.g.: homework, quizzes and tests). 
Your boss wants you to calculate the average score of each assessment type and update the scores in the database. 
```
`HINTS:`
```python
# The expected output of the computed database, calculated_dict:
{'homework': 88.5, 'quizzes': 74.0, 'tests': 82.5}

1. Loop through the items of a dictionary using the .items() method to retrieve keys and values
2. Compute the average of the values
3. Assign the newly computed values with the associated keys
```

In [ ]:
student_dict = {
  "homework": [90, 97, 75, 92],
  "quizzes": [88, 40, 94, 75],
  "tests": [75, 90, 62, 45]
}
calculated_dict = {}

In [ ]:
# YOUR CODE

---
# <a class="anchor" name="while"></a>Chapter 6: While Loops

While loop is a classic loop with a set condition, while the condition is true, the cycle will repeat.

`while loop syntax`
```python
while condition:     # while this condition is True
    repeat_this_code # keep running this code over and over again
```

`while` is used to create a loop that goes on as long as the condition after `while` is `True` OR until `break` has been called. A classic example of an infinite `while` + `break`:

```python
while condition:     # while this condition is True, 
    repeat_this_code # keep running this code over and over again
    if condition_that_stops_loop: # but if this condition is met
        break        # stop the loop
```

`NOTE: In Python, every conditional statement must follow with a colon ':' and the code block within must be INDENTED!`

In [ ]:
i = 0
while i < 10:
    print(i)
    i += 1 # increment i by 1

If the while condition is always true, the cycle will never stop.

While loops are commonly used with logic operators to extend their uses

In [ ]:
i = 9
while i < 10 and i > 0:
    print(i)
    i -= 1 # decrement i by 1

---
## Your Turn!
### Task 1: Squared Numbers
```tex
Create a while loop that prints out all the numbers from 1 to 10 squared (1, 4, 9, 16, ... , 100), each on their own line.
```

In [ ]:
num = 1

# YOUR CODE

---
### Task 2: Debugging
```python
A team working on a software found a bug in a program, but needs to find out which
version the bug first appeared. You are given a list of `boolean`s denoting whether the 
bug is present or not. You may assume that the bug surely exists and the list is not empty.

For example:
lst = [False, False, False, False, True, True, True]

Here, we can see that at the fifth version, the bug first appeared. (Remember that lists are 0-indexed!)

Output:
5

Your task:
Write code that uses a `while` loop to find out which version the bug first appeared in.
``` 

#### Further work:
* [CHALLENGE] Is your code fast for very long lists? Does it need to search every single 'False's from the start
(or 'True's from the end) to find the first 'True'? Is there a better and faster method to do this? (Hint: Binary Search)
* What if the data is corrupted? For example: [False, False, True, False, True]. What should this output?

In [ ]:
lst = [False, False, False, False, True, True, True]

In [ ]:
# YOUR CODE

---
### Task 3: Multiply Operator from Scratch
```tex
Given two integers `a` and `b`, multiply the two numbers without using the multiply (*) operator.
Your implementation must use a `while` loop.
```


Further work:
* Does your code work on negative integers?
* Can you write equivalent code using a `for` loop instead of a `while` loop?
* Write code to raise a number `a` to a power `b` using the same concept, you may now use the multiply (*) operator, but not the power (**) operator. (bonus points if you manage without (*) even if it's slow!)
* [CHALLENGE] For the motivated: what is the most efficient way of multiplying two integers
<br> or raising an integer to a power of another integer? Can you implement those algorithms?

In [ ]:
a = 12
b = 30

In [ ]:
# YOUR CODE

---
# <a class="anchor" name="function"></a>Chapter 7: Functions

<div>
<img src="https://raw.githubusercontent.com/KenYew/YME-Python-Workshop/master/images/functions-diagram.png" width="200px", align="left"/>
</div>

```tex
Functions are a basic building block of a programming language. In python, functions can return multiple variables at the output. (unlike C/C++ and Fortran). 
Function, in a way similar to mathematics, is a rule established between 0 or more objects and returning (with a `return`) a corresponding output. In python a function is defined using def:
```

`Function syntax`
```python
def function_name (input1, input2,..., inputN):
    code
    return output
```

In [ ]:
def subtract(a, b):
    return a - b

def add(a, b):
    return a + b

In [ ]:
print(subtract(1, 2))
print(add(3.2, -1))

In [ ]:
# functions can have default input values
def plus2(a, b=2):
    return a + b

print(plus2(7))
print(plus2(7,4))

Analyse the following function, what do you think it does? Use the function on a number of testcases to see if your guess is correct.

In [ ]:
def random_func(a):
    something = 0
    
    for character in str(a):
        something += int(character)
        
    return something

In [ ]:
random_func(123)

---
## 7.1 Recursive Functions

Recursive functions are a special type of function where the function calls itself. They are useful for simplifying certain structures of code such as for loops, but come at a cost of increased computing overhead. They are also useful when the bounds of a function are not known.

In [ ]:
# Factorial function using for loops
def factorial_for_loop(x):
    answer = 1
    for i in range(1,x+1):
        answer *= i
    return answer

# Factorial function using recursion
def factorial_recursion(x):
    if x == 0: 
        return 1
    return x*factorial_recursion(x-1)

print(factorial_for_loop(5))
print(factorial_recursion(5))

---
### Function Definition Quick Reference
<div>
<img src="https://raw.githubusercontent.com/KenYew/YME-Python-Workshop/master/images/function_definition.png" width="500px" align = "left"/>
</div>

---
## Your Turn!
### Task 1: Even Numbers Function

Combine your knowledge of comprehension lists and functions to write a function that finds all the even numbers between n and m:

Write test cases to test your function!

In [ ]:
# YOUR CODE
# def name_your_function(n, m):

# print(name_your_function(0,10)) # function call

---
### Task 2: Personalised Greetings
```tex
Create a function that sends a personalised message to a list of users given as a dictionary. Do this by simply printing the email address it should be sent to and a greeting with their names included. If the user has no name, greet them without a name. The dictionary contains the users email address, name and age.
```

`HINTS:`
```tex
# The expected output of the function:
To: email_from_list@bing.com
Hello 'Name'

1. Use a for loop to iterate over the keys & values of the dictionary
2. Use an if statement to check if a name is available
3. Print the email address you are sending it to and the personalised greeting
4. You may use print() to print a blank line
```

In [ ]:
users = {
    "UserID_1" : ["expert_gamer8@gmail.com","Kevin Lee",23],
    "UserID_2" : ["sparkypinky97@yahoo.com","Siti Batrisyia",21],
    "UserID_3" : ["handsome_man300@aol.com","Pavindran Kumar",22],
    "UserID_4" : ["anonymousdude@yahoo.com",None,None]
}

# def send_email(email_list):
    # YOUR CODE

---
### Task 3: Distance from Zero
    First, define a function called distance_from_zero, with one argument (choose any argument name you like). If the type of the argument is either int or float, the function should return the absolute value of the function input. Otherwise, the function should return "Nope". 
    Check if it works calling the function with -5.6 and "what?".
```python
INPUT: -5.6
OUTPUT: 5.6
INPUT: 'what?'
OUTPUT: 'Nope'
```

In [ ]:
# def distance_from_zero(num):
    # YOUR CODE

---
### Task 4: Cube
    First, define a function called cube that takes an argument called number.
    Make that function return the cube of that number (i.e. that number multiplied by itself and multiplied by itself once again).
    Define a second function called by_three that takes an argument called number. 
    If that number is divisible by 3, by_three should call cube(number) and return its result. 
    Otherwise, by_three should return False.
    
```python
INPUT: 9
CALLS: by_three(9) -> cube(9) 
OUTPUT: 729
```

In [ ]:
# def cube(number):
    # YOUR CODE

# def by_three(number):
    # YOUR CODE
    
# by_three(9) # Function call

---
### Task 5: Normalizing data
```tex
Create a function that normalizes a dataset by dividing each data point by the mean of the dataset.
```

`HINTS:`
```tex

1. The mean of the dataset is the sum of all the data points divided by the number of data points.
2. Use sum() and len() to compute the mean
3. Create an empty list to store the normalized values
4. Use a for loop to compute the normalized value and append it to the empty list made
```

In [ ]:
dataset = [2,7,3,5,8,3,6,8,3,9,1,4]

# def normalize(data):
    # YOUR CODE

---
# <a class="anchor" name="methods"></a>Chapter 8: Methods

A method is a function that takes a class instance as its first parameter. Methods are members of classes. 
### Data Types and Type Conversion
```python
str(), examples = '5', '3.45', 'True' # Variables to strings
int(), examples = 5, 3, 1 # Variables to integers
float(), examples = 5.0, 1.0 # Variables to floats
bool(), examples = True, False, True # Variables to Booleans
```

### List Methods Quick Reference
```python
my_list.index(a) # Get the index of an item 
my_list.count(a) # Count an item
my_list.append('!') # Append an item at a time
my_list.remove('!') # Remove an item
del(my_list[0:1]) # Remove an item
my_list.reverse() # Reverse the list
my_list.extend('!') # Append an item
my_list.pop(-1) # Remove an item
my_list.insert(0,'!') # Insert an item
my_list.sort() # Sort the list
```

### String Methods Quick Reference
```python
my_string.upper() # String to uppercase
my_string.lower() # String to lowercase
my_string.count('w') # Count String elements
my_string.replace('e', 'i') # Replace String elements
my_string.strip() # Strip whitespaces
```

### Ask for Help!
```python
help(str) # prints out a user-friendly documentation of the subject
```

---
### String Methods

In [ ]:
st = 'hello my name is Sam'

In [ ]:
st.lower()

In [ ]:
st.upper()

In [ ]:
st.split()

In [ ]:
tweet = 'Go Sports! #Sports'

In [ ]:
tweet.split('#')

In [ ]:
tweet.split('#')[1]

---
### Dictionary Methods

In [ ]:
d = {'key1':'item1','key2':'item2'}

In [ ]:
d.keys()

In [ ]:
d.items()

---
# Further Exercises
### Exercise 1: Sum
Code a function that sums the digits in a number.
```python
INPUT: n = 997
so the sum of digits are: 9 + 9 + 7 = 25
OUTPUT: 25
```

In [ ]:
n = 997
# YOUR CODE

---
### Exercise 2: Palindrome
Create a function that determines if a given string is a palindrome.
A palindrome is defined as a string that when reversed, is identical to the original string.

Example: <br>
*anna* is a palindrome <br>
*go dog* is a palindrome <br>
*PYME* is not a palindrome

You may assume the input is all lowercase and does not have punctuation

In [ ]:
# YOUR CODE

---
### Exercise 3: Prime Numbers
Code a function that decides whether the input is a prime number or not.

Find the sum of all prime numbers between 0 and 100

In [ ]:
# YOUR CODE

---
### Exercise 4: Holiday Trip Budget Management
Let's use functions to calculate your trip's costs:

1. Define a function called `hotel_cost` with one argument nights as input. The hotel costs £140 per night. So, the function `hotel_cost` should return $140 * nights$.

2. Define a function called `plane_ride_cost` that takes a string, city, as input. The function should return a different price depending on the location, similar to the code example above. 

3. Below are the valid destinations and their corresponding round-trip prices.
```python
"Charlotte": 183
"Tampa": 220
"Pittsburgh": 222
"Los Angeles": 475
```

4. Below your existing code, define a function called `rental_car_cost` with an argument called days. 

5. Calculate the cost of renting the car: Every day you rent the car costs £40 (cost=40*days). If you rent the car for 7 or more days, you get £50 off your total (cost-=50). 

6. Alternatively (elif), if you rent the car for 3 or more days, you get £20 off your total. You cannot get both of the above discounts. Return that cost. 

7. Then, define a function called trip_cost that takes two arguments, city and days. Like the example above, have your function return the sum of calling the rental_car_cost(days), hotel_cost(days), and plane_ride_cost(city) functions.

8. Modify your trip_cost function definion. Add a third argument, spending_money. Modify what the `trip_cost` function does. Add the variable `spending_money` to the sum that it returns.

`EXAMPLE:`

```python
INPUTS:
nights= 10
city= 'Los Angeles'
days= 7
spending_money= 500
```

`OUTPUT: 2685`

In [ ]:
nights= 10
city= 'Los Angeles'
days= 7
spending_money= 500

# def hotel_cost(nights):
    # YOUR CODE

# def plane_ride_cost(city):
    # YOUR CODE


# def rental_car_cost(days):
    # YOUR CODE

# def trip_cost(city,days,spending_money):
    # YOUR CODE
    
# trip_cost(city,days,spending_money) # FUNCTION CALL

---
### Exercise 5: Prime Numbers using List Comprehension
Python supports list comprehension which is useful if you want to do a quick pre-processing a list of data or if you want to map a list to another list under a defined transformation.

Consider the following code:
```
#List from 1 to 10 inclusive
linear = list(range(1,11))

#List from 1^2 to 10^2 inclusive
square = [x**2 for x in linear]

#List from square with element less than 50
less_than_50 = [x for x in square if x < 50]

#List from linear with odd element multiplied by -1
negative_odd = [-x if x%2 else x for x in linear]
```
Using the above examples, write a one-liner (excluding initialisation line) in Python 3 that returns prime numbers from a given list of numbers.

Hint: You might want to use the function all() that accepts a list of Boolean values as input and return *true* if all values in the list are *true*.

In [ ]:
# CODE HERE

---
### Exercise 6: Poetic Square Matrix
Min Heguy is a poetic guy and wanted to create a poetic square matrix with its elements to be the sum of its index. The index used is denoted as i and j which represents the row number and column number respectively.

For example:
```
2 3 4   -> i=1 ; j=1,2,3
3 4 5
4 5 6
|
v
i=1,2,3 ; j = 1
```
However, he does not know how to write a program to build his matrix. As his best buddy, write a Python 3 code that create the NxN matrix for him, given only the dimension N.
<br>
As the plot thickens, he wanted to know the cost of reciting the poetic matrix in real world. All he know is that the cost of each element is equal to its value.
<br>
For the example matrix above (N=3), the cost would be:
<br>
(2+3+4) + (3+4+5) + (4+5+6) = `36`
<br>
Hence, calculate the cost of building such NxN matrix given the value of N.

In [ ]:
# CODE HERE

---
### Exercise 7: SLAYER
    Write a program that can be used to check guesses for the following puzzle:

    For what six-digit number SLAYER is the following equation true, where each letter stands for the digit in the position shown? Digits can be repeated.
```python
    SLAYER + SLAYER + SLAYER = LAYERS
```

    Start with a variable, v, that will contain the guess. Tell the user whether their guess is correct.

    Extension: Make the program foolproof!
     - Check that the number is 6 digits long.

`One correct guess is 142857.`

In [ ]:
# YOUR CODE

---
### Exercise 8: Rrrreeeeeeeeeeeeee

You are given a string composed of letters/spaces and single-digit, nonzero numbers. Using for loops, output each substring x number of times, where x is the single digit number proceeding each substring.

For example:

```tex
word = "y4ee3 5t1"

output = "yyyyeeeeee     t"
```

In [ ]:
word = "r4 e e 7l1 3ma3oo5"
# YOUR CODE